spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: jwtbackend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  # JPA 공통 설정
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  # Redis
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      password: ${SPRING_DATA_REDIS_PASSWORD:}

# JWT 설정
jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000      # 1시간
  refresh-token-validity: 604800000   # 7일

# Server
server:
  port: 8080

# App 설정
app:
  frontend-url: ${FRONTEND_URL:http://localhost:3000}

# 로깅 기본 설정
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    com.cotato.backend: info